{% extends "base.html" %}
{% block content %}

<div class="contaner">
<div class="p-4 m-4">
    <div class="col-lg-5 mb-4 mt-4 mx-auto border rounded pt-5">
      <h3 class="alert alert-light border rounded ">Login Here</h3>
        <form action="/login/" method="POST">
            {% csrf_token %}
            {% if error %}
              <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
            {% endif %}

            <!-- email -->
            <div class="form-group">
                <label for="">Email</label>
                <input class="form-control form-control-sm" value="{{ values.email }}" required name="email" placeholder="example@gmail.com" type="email">
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="">Password</label>
                <input class="form-control form-control-sm" required id="" name="password" placeholder="********" type="password">
            </div>
          <div class="form-group">
            <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Login">
          </div>
        </form>
    </div>

</div>
</div>

{% endblock content%}